interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://proxy.gonkabroker.com/v1/models
  response:
    body:
      string: '{"object":"list","data":[{"id":"zai-org/GLM-5.3-Flash","object":"model","created":1787616000,"owned_by":"gonka","name":"GLM-5.3-Flash","hugging_face_id":"zai-org/GLM-5.3-Flash","input_modalities":["text"],"output_modalities":["text"],"quantization":"fp8","context_length":400000,"max_output_length":16384,"pricing":{"prompt":"0.0000002","completion":"0.0000002","input":0.2,"output":0.2,"image":"0","request":"0","input_cache_read":"0.0000002"},"supported_sampling_parameters":["temperature","top_p","top_k","presence_penalty","frequency_penalty","stop","max_tokens"],"supported_features":["tools"]},{"id":"MiniMaxAI/MiniMax-M2.7","object":"model","created":1777650662,"owned_by":"gonka","name":"MiniMax-M2.7","hugging_face_id":"MiniMaxAI/MiniMax-M2.7","input_modalities":["text"],"output_modalities":["text"],"quantization":"fp8","context_length":204800,"max_output_length":16384,"pricing":{"prompt":"0.00000025","completion":"0.00000025","input":0.25,"output":0.25,"image":"0","request":"0","input_cache_read":"0.00000025"},"supported_sampling_parameters":["temperature","top_p","top_k",[...]
